<!--
  Generated template for the SinglePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>single</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding *ngIf="titulo">
  <ion-list no-lines>
    <img src="https://ionicframework.com/dist/preview-app/www/assets/img/nin-live.png" alt="">
    <h1>{{titulo}}</h1> 
    <div [innerHtml]="conteudo"></div>  
  </ion-list> 
  
</ion-content>
