<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card *ngFor="let noticia of lista_noticia" >
    <img src="https://ionicframework.com/dist/preview-app/www/assets/img/nin-live.png">
    <ion-card-content>
      <ion-card-title (click)="abrirDetalhes(noticia)">
        {{ noticia.title.rendered }}
      </ion-card-title>
    </ion-card-content>
  </ion-card>
</ion-content>